/* h1 {
    color: rgb(0, 102, 255);
} */

/*
Ctrl+K+C for commenting
Ctrl+K+U for un-commenting
*/
/* h1{
    color: blue;
    font-size: smaller;
} */


/* .heading {
    color: rgb(0, 102, 255); semi colon
}

#para1 {
    font-size: 24px;
    font-family: 'Trebuchet MS';
} */
